.naglowek {
    font-size: 17px;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    padding-left: 20px;
    
}
.podnaglowek {
    font-size: 15px;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;

}
.aboutus {
    display: flex;
    padding-top: 30px
}
.onas {
    font-size: 24px;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
@media (max-width: 768px) {
.aboutus {
    flex-direction: column;

}}
.obrazek {
  padding-top: 30px;
    width: 30vw;
    height: 20vw;
}
@media (max-width: 768px) {
    .obrazek {
      width: 30vw;
      height: 20vw;
      flex-direction: column;  
    }
  }
  @media (max-width: 480px) {
    .obrazek {
      width: 80vw;
      height: 40vw;
      flex-direction: column;  
    }
  }
.pracownicy {
    display: flex;
    justify-content:center;  
    gap: 20px;                       
    padding: 20px; 
}
.pracownik {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;  /* Ułóż zawartość pracownika pionowo */
    align-items: center;       
    padding: 20px;                  
    background-color: #ffffff;
    border-radius: 18px;              
    color: white;
    -webkit-box-shadow: 0px 0px 25px -6px rgba(66, 68, 90, 0.45);
    -moz-box-shadow: 0px 0px 25px -6px rgba(66, 68, 90, 0.45);
    box-shadow: 0px 0px 25px -6px rgba(66, 68, 90, 0.45);
}
@media (max-width: 768px) {
    .pracownicy {
      flex-direction: column;        /* Kolumny stają się wierszami na małych ekranach */
    }
  }
  .name {
  font-size: 0.8rem;            /* Rozmiar czcionki */
  font-weight: bold;           /* Pogrubienie imienia */
  margin-top: 10px;             /* Odstęp nad imieniem */
  color: #333; 
  flex-direction: column;
  text-align: center;
}

