.klienci {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}
.clients {
    display: flex;
    justify-content:center;  
    gap: 20px;                       
    padding: 20px;
    

}
.client {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    font-style: italic;
    text-align: justify;
    flex-direction: column;  
    align-items: center;       
    padding: 40px 40px 0px 40px;                  
    background-color: #ffffff;
    border-radius: 18px;              
    color: #000000;
    -webkit-box-shadow: 0px 0px 25px -6px rgba(66, 68, 90, 0.45);
    -moz-box-shadow: 0px 0px 25px -6px rgba(66, 68, 90, 0.45);
    box-shadow: 0px 0px 25px -6px rgba(66, 68, 90, 0.45);
}
@media(max-width: 768px) {
    .clients {
        flex-direction: column;
        align-items: center;   
    }
    .client {
        width: 80%; 
    }
}
@media(max-width: 480px) {
    .clients {
        flex-direction: column;
        align-items: center;
    }
    .client {
        width: 100%;
    }
}
.polecenie {
    width: 10vw;
    height: 10vw;
}
@media(max-width: 768px) {
    .polecenie {
        width:30vw;
        height:30vw;
    }
}
@media(max-width: 480px) {
    .polecenie {
        width:30vw;
        height:30vw;
    }
}
.button-container {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 10vh;            
}
.button {
    background-color: #98BE13;
    color: white;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    border: none;
    border-radius: 8px;   
    cursor: pointer;
}
.button:hover {
    background-color: #009FE3;  
    transform: scale(1.05);     
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); 
}
.contact-form {
    margin-top: 20px;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    display: inline-block;
    width: 100%;
    max-width: 400px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.contact-form div {
    margin-bottom: 15px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #98BE13;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #7ca010;
}